*.Rproj.user
*.Rhistory
test/*.RData
*.Ruserdata
docs
.Rproj.user
results/*
results-attr/*
results-wopc/*
results-wpc/*
results-primary/*
results-cca/*
results-unstd/*
*results-attr
*results-wopc
*results-wpc
.DS_Store
test/tmp_workspace
unweighted_res.csv
test/*ignore/*
